---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<DefaultLayout title="Member Resources">
  <PageHeader
    title="Member Resources"
    subtitle="Club member resources and quick access links."
    bgType="gradient"
    showBreadcrumbs={false}
  />
  <section class="container my-16">
    <p>test</p>
  </section>
</DefaultLayout>
