---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import PageHeader from '@components/PageHeader.astro';
---

<DefaultLayout title="About">
  <PageHeader title="About" subtitle="Get to know the Manheim Lions!" bgType="gradient" showBreadcrumbs={false}/>
  <section class="container my-16">
    <p>test</p>
  </section>
</DefaultLayout>
