---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout title="Calendar">
  <div class="container">
    <h1>Calendar Page</h1>
    <p>This is the calendar page content.</p>
  </div>
</DefaultLayout>