---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import PageHeader from '@components/PageHeader.astro';
---

<DefaultLayout title="Easter Egg Hunts">
  <PageHeader title="Easter Egg Hunts" subtitle="Information about the Easter Egg Hunts." bgType="gradient" showBreadcrumbs={false}/>
  <section class="container my-16">
    <p>to-do</p>
  </section>
</DefaultLayout>
