---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import PageHeader from '@components/PageHeader.astro';
---

<DefaultLayout title="Eye Glasses Collection">
  <PageHeader title="Eye Glasses Collection" subtitle="Information about the Eye Glasses collection program." bgType="gradient" showBreadcrumbs={false}/>
  <section class="container my-16">
    <p>to-do</p>
  </section>
</DefaultLayout>
