---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import Counter from '@components/Counter.astro'
import ContentMedia from '@components/ContentMedia.astro'
import FeaturedProjects from '@components/FeaturedProjects.astro'
import FeaturedPosts from '@components/FeaturedPosts.astro'
import { Accordion, AccordionItem, Avatar, AvatarGroup, Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<DefaultLayout title="Home">
  <Hero />
  <!-- <ContentMedia imgSrc="/accessible-components.webp">
    <Heading level="h2">Accessible components</Heading>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <Link
        isExternal
        href="https://github.com/incluud/accessible-astro-components">separate package</Link
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <Heading level="h2">WCAG 2.2 AA compliant</Heading>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia> -->

  <section class="container text-center my-24">
    <div class="space-content">
      <Heading level="h2" class="text-3xl">Upcoming Events & Fundraisers</Heading>
      <p>There are currently no upcoming events. Check back soon!</p>
    </div>
  </section>

</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
