---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import PageHeader from '@components/PageHeader.astro';
---

<DefaultLayout title="Medical Equipment">
  <PageHeader title="Medical Equipment" subtitle="Information about the medical equipment loaner program." bgType="gradient" showBreadcrumbs={false}/>
  <section class="container my-16">
    <p>test</p>
  </section>
</DefaultLayout>