---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import PageHeader from '@components/PageHeader.astro';
---

<DefaultLayout title="Santa 5K Run & Walk">
  <PageHeader title="Santa 5K Run & Walk" subtitle="Information about the Santa 5K Run & Walk event." bgType="gradient" showBreadcrumbs={false}/>
  <section class="container my-16">
    <p>test</p>
  </section>
</DefaultLayout>
