---
import { Media } from 'accessible-astro-components'

/**
 * ContentMedia Component
 *
 * @description A component that displays content alongside media, with the option to reverse the image position
 */
interface Props {
  /**
   * The source URL for the image
   */
  imgSrc: string
  /**
   * Whether to display the image on the right side instead of the left
   * @default false
   */
  reverseImg?: boolean
}

const { imgSrc, reverseImg = false }: Props = Astro.props
---

<section>
  <div class="container my-8">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-24">
      <Media class={`rounded-lg ${reverseImg ? 'md:order-2' : ''}`} src={imgSrc} />
      <div class={`space-content flex flex-col justify-center ${reverseImg ? 'md:order-1' : ''}`}>
        <slot />
      </div>
    </div>
  </div>
</section>
