---
import Navigation from '../components/Navigation.astro'
import { DarkMode, Link, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <Link href="/">Home</Link>
    </li>
    <li class="menu-item">
      <Link href="/calendar/">Calendar</Link>
    </li>
    <li class="menu-item">
        <Link href="/fundraising/">Fundraising</Link>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Community
        <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <Link href="https://pack47manheim.weebly.com/" target="_blank" rel="noopener"><span class="flex flex-row items-center gap-2" >Cub Pack 47 <Icon name="lucide:external-link" /></span></Link>
        </li>
        <li class="submenu-item">
          <Link href="/easter-egg-hunt">Easter Egg Hunts</Link>
        </li>
        <li class="submenu-item">
          <Link href="/eye-glasses">Eye Glasses</Link>
        </li>
        <li class="submenu-item">
          <Link href="/14u-baseball">Manheim Lions 14U Baseball</Link>
        </li>
        <li class="submenu-item">
          <Link href="/santa-5k">Santa 5K Run & Walk</Link>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <Link href="/contact/">Contact</Link>
    </li>
    <li class="menu-item">
      <Link href="/about/">About</Link>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <Link href="/member-resources">
        <Icon aria-hidden="true" name="lucide:user" />
        <span class="sr-only">Member Resources</span>
      </Link>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <Link href="https://github.com/alexsguardian/manheim-lions-website" target="_blank" rel="noopener">
        <Icon aria-hidden="true" name="lucide:github"/>
        <span class="sr-only">Website GitHub</span>
      </Link>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon aria-hidden="true" name="lucide:moon" slot="light" />
        <Icon aria-hidden="true" name="lucide:sun" slot="dark" />
      </DarkMode>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
